* {
        margin: 0;
        padding: 0;
    }
    .back {
        background-image: url(../image/sunset.jpg);
        height: 100vh;
        background-size: cover;
    }
    .top-txt {
        font-family: Roboto,sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: white;
        padding-top: 20%;
        padding-left: 70%;
    }
    .bottom-text{
        font-family: Roboto,sans-serif;
        font-size: 55px;
        font-weight: 500;
        color: white;
        padding-bottom: 10%;
        padding-left: 70%;
    }
    /*.underline {
        color: white;
        width: 300px;
        height: 10px;
        margin-left: 70%;
        border-top: 1px solid white;
        background-color: white;
    }*/
    .top-menu{
    position: relative;
}
.main-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    padding-top: 20px;
    /*font-family: Agency FB;*/
}
.left-item{
    float: left;
}
.right-item{
    float: right;
}
.logo{                                     
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: white;
    width: 100px;
    height: 100px;
}
.main-menu a{
    text-decoration: none;
    display: block;
    line-height: 80px;
    /*padding: 0 20px;*/
    font-size: 24px;
    letter-spacing: 2px;
    /*font-family:segoe script;*/
    font-weight: bold;
    color:  white;
    transition: .3s linear;
    line-height: normal;
    padding: 20px 15px;
    /*cursor:  pointer;
    line-height: 1;
    position: relative;*/
    /*font-family: Agency FB;*/
    font-family: Roboto,sans-serif;
}
.main-menu a:hover{
    color: #9e165f;
    background-color: white;
    border-radius: 30px;
}
/*a:after {
    display: block;
    position: absolute;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: #000000; 
    content: "";
    transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
    width: 100%; 
}*/
.main-menu:after {
  content: "";
  display: table;
  clear: both;
}